<% content_for :title do %>Forms<% end %>
<% content_for :subtitle do %>List of all the items available for use in forms.<% end %>


<hr>

<p>Force delete margin bottom to fieldset tag</p>
<code class="css">.formtastic fieldset.inputs.last {
    margin-bottom: 0 !important;
}</code>

<hr>

<p>Indent any item</p>
<code class="css">.formtastic fieldset .indent {
    margin-left: 27% !important;
    padding-left: 12px !important;
}</code>

<hr>



<p>Sed pulvinar consectetur mauris, ut pretium lectus laoreet et. Donec quis felis augue. Proin ante urna, ornare sed placerat eget, suscipit sit amet metus. Ut ac eros mauris. Phasellus laoreet varius libero eget tristique. Ut urna metus, porta at nunc in, bibendum commodo.</p>

<%= render :partial => 'form_basic', :locals => {:id => "i"} %>

<% content_for :sidebar do %>
 <%= render :partial => 'form_basic', :locals => {:id => "d"}  %>
<% end %>

