// Degradado compatible IE9
@mixin bg($color-1, $color-2, $svg) {
  background: $color-1; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url($svg);
  background: -moz-linear-gradient(top,  $color-1 0%, $color-2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color-1), color-stop(100%,$color-2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $color-1 0%,$color-2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $color-1 0%,$color-2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $color-1 0%,$color-2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $color-1 0%,$color-2 100%); /* W3C */

  -pie-background: linear-gradient(top, $color-1 0%, $color-2 100%);
  behavior: asset-url("PIE.htc",htc);
}