@import "mixins/mixins";

@import "normalize";
@import "helpers";
@import "vars";
@import "tabs";
@import "tags";

// ##################
// FORMTASTIC
// ##################

// Normalize y reset
.formtastic, .formtastic fieldset ul, .formtastic fieldset ol, .formtastic fieldset li, .formtastic fieldset, .formtastic fieldset legend, .formtastic fieldset input, .formtastic fieldset textarea, .formtastic fieldset select, .formtastic fieldset p { margin:0; padding:0; }
.formtastic fieldset { border:0; float: left; }
.formtastic fieldset ol, .formtastic fieldset ul { list-style:none; }
.formtastic fieldset abbr, .formtastic fieldset acronym { border:0; font-variant:normal; }
.formtastic fieldset abbr, .formtastic fieldset acronym { border:0; font-variant:normal; }
.formtastic fieldset input, .formtastic fieldset textarea, .formtastic fieldset select { font-family:inherit; font-size:inherit; font-weight:inherit; background-color: white; }
.formtastic fieldset input, .formtastic fieldset textarea, .formtastic fieldset select { font-size:100%; }

.formtastic fieldset.inputs { display: block; width: 100%; 	margin-bottom: 15px; }
/* Eliminar inferior al grupo de campos fieldset */
.formtastic fieldset.inputs.last { margin-bottom: 0 !important; }

/* LI inicial */
.formtastic fieldset li{
  &.string,
  &.text,
  &.select,
  &.phone,
  &.email,
  &.password,
  &.numeric,
  &.boolean,
  &.date,
  &.time,
  &.datetime,
  &.radio,
  &.check_boxes,
  &.file,
  &.commit,
  &.custom-item,
  &.custom-input,
  &.group,
  &.inline,
  &.avatar { display:block; margin-bottom:10px; float:left; width:100%; }
}

.formtastic fieldset label{
  display:block; float:left; width:27%; text-align:left;
  white-space:normal; margin-right:5px; font-weight:bold;
  margin-top: 1px;
}

/* Indentación de cualquier elemento */
.formtastic fieldset .indent {
  margin-left: 27% !important;
  padding-left: 12px !important;
}

/* Hints, Consejos */

/* Hints */
.formtastic fieldset p.inline-hints {
  color:#A8A8A8;
  display:block;
  margin-left: 29%;
  padding-left:5px;
  width: 65%;
}
.formtastic fieldset li.inline-hints {
  display:block;
  float: left;
  width: 65%;
  margin-left: 29%;
  color:#A8A8A8;
}

// Ancho completo
.formtastic fieldset.inputs li.full-width p.inline-hints {
  margin-left: 0;
  padding-left: 13px;
  width: 95%;
  padding-top: 10px;
  font-size: 13px;
  color: #A8A8A8;
}

// Consejo mostrado en horizontal (inline, a continuacion del input) (atencion al ancho del input)
.formtastic fieldset li.inline-hint p.inline-hints{
  padding: 10px 0 0;
  margin: 0 0 0 20px;
}

// Errores
.formtastic fieldset.inputs li.full-width p.inline-errors {
  margin-left: 0;
  padding-left: 13px;
  width: 95%;
  line-height: 12px;
  margin-top: 4px;
}
#fancybox-content .formtastic fieldset.inputs li.full-width p.inline-errors {
  @include border-box;
  width: 100%;
}

.formtastic fieldset li.hidden-errors .inline-errors { display: none; }



// GROUP
// Envuelve varios input y permite identificarlos por id
.formtastic fieldset li.group{ }
.formtastic fieldset li.group fieldset {
  display:block;
  width:100%;
  float:left;
}
.formtastic fieldset li.group legend.label{
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

/* Inline - Agrupación de campo en linea */
.formtastic fieldset li.inline{}
.formtastic fieldset li.inline fieldset {
  position:relative;
  display:block;
  width:100%;
  float:left;
}
.formtastic fieldset li.inline legend.label {
  width:27%;
  position:absolute;
  top:0;
  left:0;
}
.formtastic fieldset li.inline fieldset ol{
  width:70%;
  margin-left:27%;
  padding-left:5px;
}
.formtastic fieldset li.inline > fieldset > ol > li {
  display:block;
  float:left;
  padding:0;
  margin: 0;
  width: auto;
}

.formtastic fieldset li.inline li:last-child {	margin: 0}
.formtastic fieldset li.inline li input { margin-right: 5px; }
.formtastic fieldset li.inline.cols-2 > fieldset > ol > li { width: 225px; }
.formtastic fieldset li.inline.cols-3 > fieldset > ol > li { width: 150px; }
.formtastic fieldset li.inline.cols-4 > fieldset > ol > li { width: 110px; }

/*En linea Flexible 6/nov/2012*/
.formtastic fieldset li.inline.flex fieldset ol li {
  width: auto;
  margin-right: 20px;
}
.formtastic fieldset li.inline.flex fieldset ol li.last { margin-right: 0; }

.formtastic fieldset li.inline.flex fieldset ol li p.inline-errors {
  margin: 0;
  float: none;
  padding: 0;
  width: auto;
}




/* Label */
.formtastic fieldset li.inline fieldset .label label { width:100%; }
.formtastic fieldset li.inline li label {
  display:inline;
  width: auto;
  white-space:normal;
  font-weight:normal;
  font-style:normal;
  text-align: left;
}
/* end */

/* Inputs */
.formtastic fieldset li.string > input,
.formtastic fieldset li.text > input,
.formtastic fieldset li.select > input,
.formtastic fieldset li.phone > input,
.formtastic fieldset li.email > input,
.formtastic fieldset li.password > input,
.formtastic fieldset li.numeric > input,
.formtastic fieldset li.boolean > input,
.formtastic fieldset li.date > input,
.formtastic fieldset li.time > input,
.formtastic fieldset li.datetime > input,
.formtastic fieldset li.radio > input,
.formtastic fieldset li.check_boxes > input,
.formtastic fieldset li.file > input,
.formtastic fieldset li.commit > input,
.formtastic fieldset li.custom-item > input,
.formtastic fieldset li.custom-input > input,
.formtastic fieldset li.group > input,
.formtastic fieldset li.inline > input { float:left; width:67%; }
.formtastic fieldset li.text > textarea { float: left; width: 71%; height: 140px; }
/* end Inputs */

/* Ancho completo String y Text*/
.formtastic fieldset li.string.full-width,
.formtastic fieldset li.text.full-width { width: 100%; }

.formtastic fieldset li.string.full-width label,
.formtastic fieldset li.text.full-width label{
  display: block;
  width: 100%;
  float: none;
  position: static;
  margin-bottom: 4px;
  margin-left: 1px;
}
.formtastic fieldset li.string.full-width input{
  overflow: hidden;
  width: 95%;
  float: none;
  position: static;
}
.formtastic fieldset li.text.full-width textarea{
  width: 99%;
  float: none;
  position: static;
}

/* end Ancho completo string y text */

/* Boolean - Campo boleano independiente */
.formtastic fieldset li.boolean label {
  width: 67%;
  text-align: left;
  display: inline;
  margin-left:28%;
}
.formtastic fieldset li.boolean input {
  margin-right: 4px;
  float: none;
  width: auto
}
/* Ancho completo */
form.formtastic fieldset li.boolean.full-width label {
  width: 100% !important;
  margin-left: 0;
}

.formtastic fieldset li.inline li.boolean label {

}
/* end Boolean */

/* Radio y check */
.formtastic fieldset li.radio fieldset,
.formtastic fieldset li.check_boxes fieldset,
.formtastic fieldset li.date fieldset {
  position:relative;
  display:block;
  width:100%;
  float:left;
}
.formtastic fieldset li.radio legend.label,
.formtastic fieldset li.check_boxes legend.label,
.formtastic fieldset li.date legend.label {
  position:absolute;
  width:27%;
  top:0;
  left:0;
}
.formtastic fieldset li.radio fieldset ol,
.formtastic fieldset li.check_boxes fieldset ol,
.formtastic fieldset li.date fieldset ol{
  width:70%;
  margin-left:27%;
  padding-left:5px;
}
.formtastic fieldset li.radio li,
.formtastic fieldset li.check_boxes li,
.formtastic fieldset li.date li {
  display:block;
  float:left;
  min-height:20px;
  width:auto;
  padding:0;
  margin: 0 5px 0 0;
}
.formtastic fieldset li.radio fieldset .label label,
.formtastic fieldset li.check_boxes fieldset .label label,
.formtastic fieldset li.date fieldset .label label { width:100%; }

.formtastic fieldset li.radio li label,
.formtastic fieldset li.check_boxes li label,
.formtastic fieldset li.date li label {
  float:none; display:inline;
  /*white-space:nowrap;*/
  font-weight:normal;
  font-style:normal;
}
.formtastic fieldset li.radio li label input,
.formtastic fieldset li.check_boxes li label input,
.formtastic fieldset li.date li label select {
  float:none;
  display:inline;
  margin-right:5px;
}
/* Vertical */
.formtastic fieldset li.check_boxes.vertical li,
.formtastic fieldset li.radio.vertical li,
.formtastic fieldset li.date.vertical li {
  margin-bottom: 5px;
  width:100%;
}

/* Full width (desestimado 06/06/2012)*/
.formtastic fieldset li.check_boxes-wfull legend.label,
.formtastic fieldset li.radio.full-width legend.label,
.formtastic fieldset li.date-wfull legend.label{
  float: left;
  white-space:normal;
  width:100%;
  position:relative;
  min-height: 18px;
  margin-bottom: 7px;
}
.formtastic fieldset li.check_boxes.full-width fieldset,
.formtastic fieldset li.radio.full-width fieldset,
.formtastic fieldset li.date.full-width fieldset { position:relative; }
.formtastic fieldset li.check_boxes.full-width fieldset ol,
.formtastic fieldset li.radio.full-width fieldset ol,
.formtastic fieldset li.date.full-width fieldset ol { margin: 0; width: 100%; }
.formtastic fieldset li.radio.full-width li label,
.formtastic fieldset li.check_boxes.full-width li label,
.formtastic fieldset li.date.full-width li label { white-space:normal; width: 100%; }
/* end Radio y check */

/* Date y Time */
.formtastic fieldset li.date li,
.formtastic fieldset li.time li,
.formtastic fieldset li.datetime li { margin-right:5px; }

.formtastic fieldset li.date li label,
.formtastic fieldset li.time li label,
.formtastic fieldset li.datetime li label { display:none; }

.formtastic fieldset li.date li label input, .formtastic fieldset li.time li label input,
.formtastic fieldset li.datetime li label input { display:inline; margin:0; padding:0;  }
/* end Date y Time */

/* Botones (fieldset.actions */
.formtastic fieldset.actions{}
.formtastic fieldset.actions li input{
  width: auto;
}
/* end */

/* Personalizados */
.formtastic fieldset li.custom-item { width: 100%;}
.formtastic fieldset li.custom-item .custom-item-content{ float:left; width:67%; min-height: 16px; }

.formtastic fieldset li.custom-item.full-width .custom-item-content{ width: 100%; padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0;
}

/* end Personalizados */

/* Buttons */
.formtastic fieldset{
  &.buttons ol{ width: 100%; }
  &.buttons-left ol{ padding-left:0; }
  &.buttons-right ol{ /**/  }
}

/* Mensajes */
.msgerror,
.msgnotice,
.msgsuccess {
  padding: 7px;
  border: 2px solid #ddd;
  text-align: center;
  width: 40%;
  position: fixed;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  z-index: 1000;
  left: 20%;
  right: 20%;
  border-top-style: none;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}
.msgerror {background-color:#FBE3E4;color:#8a1f11;border-color: #db3b40; 	border-width: 1px; }
.msgnotice {background-color:#FFF6BF;color:#514721;border-color:#FFD324;}
.msgsuccess {background-color:#E6EFC2;color:#264409;border-color:#C6D880;}
.msgerror a {color:#8a1f11;}
.msgnotice a {color:#514721;}
.msgsuccess a {color:#264409;}

// Lista de enlaces con titulo
// =============================================================================
.formtastic fieldset{
  .bp-links-list{
    .custom-item-content {

      li{ margin-bottom: 5px; }

      label {
        width: 24px;
        text-align: center;
        line-height: 24px;
        font-weight: normal;
        color: #7d7d7d;
        background-color: #fafafa;
        border: 1px solid #f2f2f2;
      }
      input {
        width: 40%;
        padding: 5px;
        border: 1px solid #EEE;
        &:hover{border: 1px solid #000;}
      }
      .bp-links-list-delete {
        @include inline-block;
        @include pf(border-radius, 3px);
        width: auto;
        padding: 6px 9px;

        font-family: courier;
        font-weight: normal;
        text-decoration: none;
        background-color: $grey1;
        color: $grey3;
        &:hover {
          background-color: red;
          color: #ffffff;
        }
      }

      // Error
      p.inline-errors{
        width: 100%;
        margin: 3px 0 10px 0;
      }
    }
  }
}
// End Lista de enlaces con titulo
// =============================================================================








