// ########
// HEADER
// ########

.main-header{
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
  background: asset-url("bg-ab-gaus.png",image) bottom center no-repeat;

  hgroup{
    padding: 8em 0;
  }
  h1{
    font-family: 'Dosis', sans-serif;
    font-size: 7em;
    margin: 0;
    padding: 0;
    color: #ffffff;
    letter-spacing: -3px;
    text-transform: uppercase;
  }
  h2{
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 2.5em;
    font-style: italic;
  }
}