// ##########################
// TAGS #27/03/2013 @manu
// ##########################

.bp-tags-field{
  width: auto;
  @include clearfix;
  .bp-input-field{ margin-bottom: 10px; }

  .bp-add-tag{
    //display: block;
    //line-height: 20px;
    margin: 0 10px 10px 25%;
  }

  ul.bp-tags-list{
    width: 75%;
    margin: 0 0 0 25%;

    li{
      @include inline-block;
      width: auto;
      height: auto;
      margin:0 10px 10px 0;

      background-color: #FAFAFA;
      border: 1px solid #F2F2F2;
      padding: 4px 4px 4px 6px;
      cursor: default;

      &:hover{
        background-color: #ffffff;
        border: 1px solid #D5D5D5;
        b{
          background-color: #EEE;
        }
      }
      b{

        color: #BBBBBB;
        margin-left: 10px;
        display: inline-block;

        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        text-transform: lowercase;
        font-family: courier;

        &:hover{
          color: #ffffff;
          background-color: #D94313;
        }
      }
    }
  }
}

.full-width ul.bp-tags-list{ margin: 0; }